<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.notesapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="stateHidden|adjustPan|adjustResize">
        <activity android:name=".profileActivity"></activity>
        <activity android:name=".signInActivity" />
        <activity android:name=".signUpActivity" />
        <activity android:name=".display_image" />
        <activity
            android:name=".img_activity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".pdf_activity" />
        <activity
            android:name=".searchResultsActivity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".UploadActivity"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".HomeActivity"
            android:windowSoftInputMode="adjustNothing" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>